<h1>Categories</h1>

    <div class="row">
      <% @categories.each do |category| %>

        <div class="col-md-3 mt-3">
          <div class="card">
          <%= image_tag category.image.url, class: "card-img-top", style: "height: 200px; padding: 15px;" %>

          <div class="card-body">
            <p style="text-align: center;">
              <%= link_to category.name, category_path(category), class: "btn btn-primary" %>
            </p>
          </div>

          </div>
        </div>

      <% end %>
    </div>
